.card::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 40px;
  height: 20px;
  background-color: white;
  border-top: 2px dashed #d1d5db;
  transform: translateX(-50%);
  border-left: 2px dashed #d1d5db;
  border-right: 2px dashed #d1d5db;
  border-bottom: none;
  border-radius: 0 0 50% 50%;
  z-index: 50;
}
